.App{
  border-style: solid;
  margin-top: 10rem;
  margin-left: 35rem;
  margin-right: 35rem;
}

.timer-container{
  text-align: center;
  /* font-weight: bold; */
  font-size: 30px;
  background-color: aqua;
  margin: 20px;
  padding: 40px;
}

button{
  border-radius: 30px;
  width: 100px;
  height: 50px;
  border-style: hidden;
  margin: 15px;
  margin-top: 20px;
}

.btn-reset{
  background-color: orange;
}

.btn-start{
  background-color: yellowgreen;
}

.btn-stop{
  background-color: lightgreen;
}